apiVersion: v1
kind: Service
metadata:
  name: payment
  labels:
    app: payment
spec:
  selector:
    app: payment
  ports:
    - port: {{ .Values.paymentServerPort }}
      targetPort: {{ .Values.paymentServerPort }}
  sessionAffinity: None