apiVersion: template.openshift.io/v1
kind: Template
metadata:
  creationTimestamp: null
  name: '${APP_NAME}'
  labels:
    citi.csi-id: '146'
    citi.installed-product-versions:
    citi.installed-ctc-version-ids:
    citi.app-base-image-product: tomcat
    citi.app-log-format: ''
objects:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      creationTimestamp: null
      generation: 1
      labels:
        app: '${APP_NAME}'
      name: '${APP_NAME}'
    spec:
      replicas: '${MIN_REPLICAS_COUNT}'
      selector:
        matchLabels:
          app: '${APP_NAME}'
          deployment: '${APP_NAME}'
      strategy:
        rollingUpdate:
          maxSurge: 25%
          maxUnavailable: 25%
        type: RollingUpdate
      template:
        metadata:
          creationTimestamp: null
          labels:
            app: '${APP_NAME}'
            deployment: '${APP_NAME}'
          annotations:
            ecs.orc/enable: '${APP_NAME}'
            'ecs.o2c/${APP_NAME}.secrets': '${SECRET}'
        spec:
          containers:
            - image: ''
              imagePillPolicy: IfNotPresent
              name: '${APP_NAME}'
              volumeMounts:
                - name: certs-volume
                  mountPath: /etc/certs
                  readOnly: true
                - mountPath: '${MOUNT_PATH}'
                  name: '${MOUNT_NAME}'
              livenessProb:
                httpGet:
                  path: '${ONEAANDT_DOCUMENT_SERVICE_CONTEXT_PATH}/actuator/health'
                  port: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}'
                  scheme: HTTPS
                initialDelaySeconds: '${LIVENESS_PROBE_INITIAL_DELAY_SECONDS}'
                timeoutSeconds: '${LIVENESS_PROBE_TIMEOUT_SECONDS}'
                periodSeconds: '${LIVENESS_PROBE_PERIOD_SECONDS}'
                successThreshold: '${LIVENESS_PROBE_SUCCESS_THRESHOLD}'
                failureThreshold: '${LIVENESS_PROBE_FAILURE_THRESHOLD}'
              readinessProb:
                httpGet:
                  path: '${ONEAANDT_DOCUMENT_SERVICE_CONTEXT_PATH}/actuator/health'
                  port: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}'
                  scheme: HTTPS
                initialDelaySeconds: '${LIVENESS_PROBE_INITIAL_DELAY_SECONDS}'
                timeoutSeconds: '${LIVENESS_PROBE_TIMEOUT_SECONDS}'
                periodSeconds: '${LIVENESS_PROBE_PERIOD_SECONDS}'
                successThreshold: '${LIVENESS_PROBE_SUCCESS_THRESHOLD}'
                failureThreshold: '${LIVENESS_PROBE_FAILURE_THRESHOLD}'
              ports:
                - containerPort: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}'
                  protocol: TCP
              resources:
                limits:
                  cpu: '${CPU_LIMIT}'
                  memory: '${MEMORY_LIMIT}'
                requests:
                  cpu: '${CPU_REQUEST}'
                  memory: '${MEMORY_REQUEST}'
              terminationMessagePath: /dev/termination-log
              envFrom:
                - configMapRef:
                    name: ${DOCKER_NAMESPACE}-api
              env:
                - name: ONEAANDT_DOCUMENT_SERVICE_CONTEXT_PATH
                  value: '${ONEAANDT_DOCUMENT_SERVICE_CONTEXT_PATH}'
                - name: ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT
                  value: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}'
                - name: PROJECT
                  value: '${DOCKER_NAMESPACE}'
                - name: OCP_CLUSTER
                  value: '${ROUTE_HOST}'
                - name: MOUNT_PATH
                  value: '${MOUNT_PATH}'
                - name: ONEAANDT_PS_ATIS_LOCATION
                  value: '${ONEAANDT_PS_ATIS_LOCATION}'
                - name: ONEAANDT_TS_ATIS_LOCATION
                  value: '${ONEAANDT_TS_ATIS_LOCATION}'

          volumes:
            - name: certs-volume
              secret:
                secretName: certs-secret
            - name: cacerts-volume
              secret:
                secretName: cacerts-secret
            - name: '${MOUNT_NAME}'
              persistentVolumeClaim:
                claimName: '${PVC_NAME}'
          dnsPolicy: ClusterFirst
          restartPolicy: Always
          securityContext:
            supplementalGroups:
              - '${SUPPLEMENTAL_GROUP}'
          terminationGracePeriodSeconds: 30
  - apiVersion: v1
    kind: Service
    metadata:
      creationTimestamp: null
      labels:
        app: '${APP_NAME}'
      name: '${APP_NAME}'
    spec:
      ports:
        - name: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}-tcp'
          protocol: TCP
          port: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}'
          targetPort: '${ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT}'
      selector:
        app: '${APP_NAME}'
        deployment: '${APP_NAME}'
      sessionAffinity: None
      type: ClusterIP
    status:
      loadBalancer: { }
  - apiVersion: autoscaling/v1
    kind: HorizentalPodAutoscaler
    metadata:
      creationTimestamp: null
      labels:
        app: '${APP_NAME}'
      name: '${APP_NAME}'
    spec:
      scaleTargetRef:
        kind: Deployment
        name: '${APP_NAME}'
        apiVersion: apps/v1
        subresource: scale
      minReplicas: '${SCALE_MIN_REPLICA_COUNT}'
      maxReplicas: '${SCALE_MAX_REPLICA_COUNT}'
      targetCPUUtilizationPercentage: '${TARGET_CPU_UTILIZATION_PERCENTAGE}'
parameters:
  - name: ONEAANDT_DOCUMENT_SERVICE_CONTEXT_PATH
    required: true
  - name: ONEAANDT_DOCUMENT_SERVICE_SERVER_PORT
    required: true























