replicaCount: 2

image:
  repository: orders-service
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8089

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

env: dev

labels:
  app: orders
  component: backend

logLevel: INFO